<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/biliminsani.css">
    </head>
    <body>
        
        <div class="slider">
            <div class="item">
                <img src="../img/thales.jpg" alt="Image 1" class="pp"/>
                <h1>THALES</h1>
                Mısır matematik okulunun ilk öğrencisidir. Bir daire içine üçgen çizilmesi problemini çözümlemiştir. Ters açıların eşitliğini doğruladığı söylenir. 
                Üçgenlerin özellikleri ve Thales bağıntıları, Mısır’daki piramitlerin yüksekliğinin bulunmasında kullanılmıştır. Thales, Pisagor ve Öklit, bu öğretim yöntemini ve kurallarını Yunan matematiğine getirmişlerdir.
            </div>
            <div class="item">
                <img src="../img/pisagor.png" alt="Image 1" class="pp"/>
                <h1>PİSAGOR</h1>
                Yunan filozof ve matematikçi."Sayıların babası" olarak bilinir. Pisagor’un Mısır’da okurken geometri ve matematiğin temellerini öğrendi.
                Yaptığı seyahatlerin ardından Sisam’a dönerek bir okul kurdu. Matematik ve astronomiye katkıları olmuştur.Ürettiği bağıntıya Pisagor bağıntısı adını vermiştir.
                Müzikle tedavi çalışmalarıyla tıbba katkıda bulunmuştur. (3, 4, 5) ve (5, 12, 13) özel üçgenlerini bulmuştur
                Çarpım tablosunu ilk olarak o kullandı. İçine konulan içeceği adaletli dağıtılmasını sağlayan bir tür kupayı okulunda kullandı.
            </div>
            <div class="item">
                <img src="../img/oklid.jpg" alt="Image 1" class="pp"/>
                <h1>ÖKLİD</h1>
                Geometri’nin Babası olarak anılmaktadır.Platon tarafından kurulan Atina Akademisi’nde eğitim gördüğü sanılmaktadır.
                En önemli kitabı olan Elementlere ek olarak, perspektif, konik kesitler, küresel geometri, matematiksel astronomi, sayılar teorisi ile ilgili yazılar yazdığı bilinmektedir. 
                Ne yazık ki bu çalışmalarının sadece 5 tanesi günümüze ulaşmıştır.Öklid’in Elementleri, tüm zamanların en etkili matematik kitaplarından biri olarak kabul edilmektedir. 
                Bu kitap 20. yüzyılın başlarına kadar geometri ders kitabı olarak kullanılmıştır. 
            </div>
            <div class="item">
                <img src="../img/arsimet.jpg" alt="Image 1" class="pp"/>
                <h1>ARŞİMET</h1>
                Arşimet antik dünyanın bir dehası ve tarihin şahit olduğu en büyük matematikçilerden, mühendislerden birisidir. 
                Adı günümüzde daha çok Arşimet prensibi, Arşimet vidası ve antik dünyanın çeşitli “süper silahlarını” icat etmesi ile anılır. 
                Belki de daha az bilinen, Arşimet’in antik çağın en büyük matematikçisi olarak kabul edilmesidir. 
                Arşimet'in yapmış olduğu buluşlar arasında kaldıraçlar, makaralar, bileşik makaralar, sonsuz vidalar, hidrolik vidalar, rulmanlar ve yakan aynalar sayılabilir.
                Geometriye yapmış olduğu en önemli katkılardan birisi, bir kürenin yüzölçümünün 4πr^2 ve hacminin ise 4/3πr^3 eşit olduğunu kanıtlamasıdır.
                
            </div>
            <div class="item">
                <img src="../img/harezmi.jpg" alt="Image 1" class="pp"/>
                <h1>HAREZMİ</h1>
                Cebirin kaşifi olarak bilinen Harezmi bir bilgin, astronom ve teologdu. Günümüze kadar ulaşan matematikle ilgili eserleri 
                hem İslam hem de Hıristiyan dünyası üzerinde çok büyük bir etkiye sahiptir.Onun en önemli katkılarından birisi de yazdığı bir kitapta Hint sayı sistemi anlatmasıdır. 
                Yaşadığı dönemde popüler olan bu kitap daha sonraları Fibonacci aracılığı ile Avrupa’ya ulaşmıştır. 
                Bu sayede de bu sayı sistemi zamanla Roma rakamlarının yerini almıştır. Harezmi’nin orijinal eserlerinin pek çoğu, Bağdat 1258 yılında Moğollar tarafından yağmalandığında kaybolmuştur.
            </div>
            <div class="item">
                <img src="../img/Fibonacci.jpg" alt="Image 1" class="pp"/>
                <h2>LEONARDO PİSANO BİGOLLO</h2>
                Biz kendisini Fibonacci olarak tanısak da ölümünden çok sonraya kadar Fibonacci (“Bonacci’nin oğlu”) olarak bilinmedi.
                Kuzey Afrika’daki Bugia’da bir muhasebe okulunda okudu. O sıralarda Hint-Arap sayı sembolleriyle karşılaştı. 
                Romen rakamlarına kıyasla bu rakamların sadeliğinden etkilendi.
                Doğal dünyada bir sayı dizisi tekrar tekrar ortaya çıkar. Bu dizide, her sayı bir önceki ikisinin ( 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, vb.) toplamıdır. 
                Bu dizi aslında MÖ 200 civarında Hintli bilgin Pingala tarafından fark edilse de günümüzde Fibonacci dizisi olarak bilinir. 
            </div>
            <div class="item">
                <img src="../img/descartes.jpg"  alt="Image 1" class="pp"/>
                <h1>RENE DESCARTES</h1>
                En çok felsefeye katkılarıyla, özellikle zihin ve beden ikiliği fikrini geliştirmesiyle ünlüdür. Kendisi “Düşünüyorum; öyleyse varım” sözüyle tanınır. 
                Ancak bugün kullandığımız matematiğin çoğu Descartes’a çok şey borçludur. Descartes’ın matematiğe birincil katkısı, analitik geometrinin geliştirilmesinde olmuştur.
                Bir koordinat düzleminde geometrik çizgiler ve eğriler kullanarak cebirsel formları ve denklemleri temsil etme fikrine öncülük etti. Geometri ve cebirin bu birleşimi, kalkülüsün gelişimini mümkün kılacaktı.
            </div>
            <div class="item">
                <img src="../img/gauss.jpg" alt="Image 1" class="pp"/>
                <h1>CARL FRIEDRICH GAUSS</h1>
                Gauss (Matematiğin Prensi) matematiksel yeteneklerini erken yaşta gösterdi. Beş yaşındayken babasının hesaplarıyla ilgileniyordu. 1795’te Göttingen Üniversitesi’ne girdi. 
                Yalnızca bir cetvel ve pergel kullanarak düzenli bir onyedigen inşa etti. Öklid’in geometrisinden bu yana çokgen yapımındaki en büyük ilerlemeydi. 
                Gauss’un keşiflerinden bir diğeri karmaşık değişkenli polinomların köklerinin varlığıyla ilgili temel bir sonuç olan cebirin temel teoremidir. 
                Gauss şüphesiz insanlık tarihi boyunca hatırlanacak nadir matematik ustalarındandı. Ancak fikirlerinin birçoğunu kendine sakladı; ölümünden sonra yayınlanmamış makalelerinde çok sayıda keşfedildi.
            </div>
            <div class="item">
                <img src="../img/Euler.jpg" alt="Image 1" class="pp"/>
                <h1>LEONHARD EULER</h1>
                “Matematiğin Prensi” olarak Gauss’u gösteriyorsak, kralı da Euler’dir. En üretken matematikçidir.
                Fonksiyon işareti (f(x)); trigonometrik fonksiyonların tanımları ; doğal logaritmanın tabanı olan müthiş “Euler Sayısı”nın işareti “e”; toplam hesaplamaları için kullanılan Yunan harfi Sigma (Ʃ); sanal sayıların işareti olan “i” ve çemberin çevresinin çapına oranını ifade eden pi sayısının işareti π bulunmaktadır.
                İki yemek öğünü arasında tam bir matematiksel ispatı yapabildiğine dair iddialar da olan Euler, kalkülüs, topoloji, sayılar teorisi, analiz ve graf teorisi konularında çok sayıda çalışma yapmış ve günümüz matematiğine uzanan yolların en önemli köşe taşlarını döşemiştir.
            </div>
            <div class="item">
                <img src="../img/pascal.jpg" alt="Image 1" class="pp"/>
                <h1>BLAİSE PASCAL</h1>
                Pascal, en çok adını taşıyan Pascal Üçgeni ile tanırız. Pascal üçgeni, cebir, sayı teorisi, olasılık ve kombinatorik (sayma ve düzenleme matematiği) dahil olmak üzere matematiğin çeşitli dalları için verimli bir çalışma zeminidir. 
                Kendisi ayrıca dünyadaki ilk mekanik hesap makinelerinden birini geliştirmiştir. Pascal ayrıca olasılık teorisinin yaratıcılarından biridir.

            </div>
            <div class="item">
                <img src="../img/Fourier.jpg" alt="Image 1" class="pp"/>
                <h1>FOURIER</h1>
                Dokuz yaşındayken hem annesini ve hem de babasını hayatını yitirmişti. Hayırseverler Fourier’i şehirdeki askeri okula gönderdiler.
                O, subay olmak istemişti. Fakat, terzi oğluna subaylık diploması verilmediğinden, askeri papaz olmak istemişti. Eski arkadaşları Fourier’in bir papaz olamayacağını anladıkları için onu matematik öğretmeni yaptılar. 
                1789 yılında yirmi bir yaşında denklemlerin sayısal çözümüne ait bir çalışmayı Akademiye sundu. Napolyon’a okullar açtırdı ve matematik kürsüsüne öğretmen olarak atandı.
                Denklemler kuramı ve uygulamalı matematikte bazı araştırmalarda bulundu. Fourier serilerini ve Fourier analizini oluşturdu. En önemli çalışması “Isının Analitik Kuramı” adlı yapıtıdır.
            </div>
            <div class="item">
                <img src="../img/laplace.jpg" alt="Image 1" class="pp"/>
                <h1>LAPLACE</h1>
                Laplace, ilk yeteneğini köy okulunda gösterdi ve çok erken kendisini matematiğe verdi. Bu başarısı zengin komşularının sıcak dikkatini çekti. O zaman Beaumont’ta askeri bir okul vardı. 
                Laplace bu okula devam ediyordu.Laplace on sekiz yaşına gelince zengin koruyucularının tavsiye mektuplarıyla Paris’in yolunu tuttu. Kendisinin yüksek yeteneğini biliyor, fakat bunda hiç şişme ve bir abartma göstermiyordu.
                Genç Laplace, kendine tam bir güven içinde Paris’e matematik dünyasını fethetmek için geldi.
                Paris’teki askeri okula matematik öğretmeni olarak atandı. İşte bu sırada Laplace, Newton’un genel çekim kanununun güneş sistemine uygulaması adlı büyük eserini verdi.

            </div>
            <div class="item">
                <img src="../img/omer.jpg" alt="Image 1" class="pp"/>
                <h1>ÖMER HAYYAM</h1>
                Ömer Hayyam 11. yüzyılın ikinci yarısının en ünlü matematikçi ve astronomu İranlı bilgin. Astronomi, müzik, fizik, matematik dallarında eserler verdi. Üçüncü dereceden denklemlerin çözümlerine ilişkin genel bir yöntem geliştirdi. 
                Öklit’in paraleller aksiyomu üzerine özgün çalışmalar gerçekleştirdi. Günümüzdeki esas ününü şairliği ve rubaileriyle kazanmıştır. Doğum ve ölüm tarihleri kesin olarak bilinmiyor. Bazı araştırmacılar 1048-1122 yılları arasında yaşadığını belirtiyorlar.
            </div>
            <div class="item">
                <img src="../img/ali.jpg" alt="Image 1" class="pp"/>
                <h1>ALİ KUŞÇU</h1>
                Küçük yaşta Matematik ve Astronomi’ye karşı aşırı bir ilgi duydu. 
                Devrinin en büyük alimleri olan Uluğ Bey, Gıyaseddin Cemşid ve Muniüd’den aldığı ilimlerle yetinmeyip daha fazlasını öğrenme arzusu ile haber vermeden, ünlü alimlerin toplandığı Kirman’a gitti. 
                Kirman’da akli ve nakli ilimleri üzerinde çalışmalara devam edip, burada “Hall-ül Eşkalil Kamer” risalesini, “Şerh-i Tecrid” adlı eserini hazırladı.
                II. Mehmet kendisini Ayasofya Medresesi’ne müderris olarak tayin etti; astronomi ve matematik dersleri vermişti. 
                İstanbul’un enlem ve boylamını ölçmüş ve çeşitli Güneş saatleri yapmıştı. Eserleri: Risale Fi’Hey’e, Risale Fi’l-Fethiye, Risale Fil Hesap, Risale Fil Muhammediye

            </div>
            <div class="item">
                <img src="../img/arf.jpg" alt="Image 1" class="pp"/>
                <h1>CAHİT ARF</h1>
                1910 yılında Selanik’te doğdu. Galatasaray Lisesi’nde matematik öğretmenliği, İstanbul Üniversitesi Fen Fakültesi’nde profesör yardımcısı olmuştu. 
                Doktorasını Almanya’da Clölting Üniversitesi’nde tamamladı. Daha sonra İstanbul Üniversitesi’ne döndü.
                Sayılar teorisinde önemli yeri olan lokal cisimlerde dallanma teorisine çok öneli yapısal bir katkıda bulunmuştu.
                Arf değişmezi, Arf halkaları, Hasse-Arf Teoremi başlıca çalışmaları ve buluşları içerisinde bulunur.
                1938 yılından beri Cahit ARF cebir, sayılar teorisi, elastisite teorisi, analiz, geometri ve mühendislik matematiği gibi çok çeşitli alanlarda yaptığı çalışmalarla matematiğe temel katkılarda bulunmuş, yapısal ve kalıcı sonuçlar elde etmiştir.
            </div>
            <div class="item">
                <img src="../img/taylor.jpg" alt="Image 1" class="pp"/>
                <h1>TAYLOR</h1>
                İngiltere’de Norton kentinde 9 Kasım 1685 günü doğmuştu. Taylor açılımı teoremini bulmuş ve bu teoremi 1715 yılında yayınlamıştı. Seriler, logaritmalar ve fizik konuları üzerine birçok buluşu vardı. 
                Bunların tümünü de yayınlamıştı. Gerek bu buluşları gerekse Taylor açılımı teoremiyle genel matematiğe ve onun gelişmesine ölçüsüz yardımlarda bulunmuştu.
                1712 yılında Royal Society’ye üye seçilen Taylor, daha sonraki yıllarda Newton’la Leibniz arasında süren yarışmalardan doğan sürtüşmelerde karar verecek üyelerden biriydi.
                Matematik kitaplarının tümünde Taylor teoremi hala yaşamaktadı.
            </div>
            <div class="item">
                <img src="../img/MAC.jpg" alt="Image 1" class="pp"/>
                <h1>MACLAURİN</h1>
                İskoçya’lı bir matematikçi olan Colin Maclaurin, 1698 yılında Kilmodan’da doğdu. 1717 yılında Aberdeen’deki Marischal Kolejinde matematik dersleri verdi. 
                Maclaurin, Newton’un en başarılı öğrencilerinden biriydi. Geometri, cebir ve sonsuz küçükler hesabıyla ilgili eserler verdi. 
                1719 yılında “Organik Geometri” adlı eseri yayınlandı. Bu eserde, konikler, üçüncü ve dördüncü dereceden eğriler incelendi.
                Eğriler ve maksimumları üzerine buluşlar yaptı. 1742 yılında yayınladığı kitapta, kendi adıyla anılan, formülü ve bazı fizik buluşları vardır. Maclaurin’i yaşatan ve çok kullanılan Maclaurin açılımı veya serisidir.
            </div>
            <div class="item">
                <img src="../img/new.jpg" alt="Image 1" class="pp"/>
                <h1>ISAAC NEWTON</h1>
                Newton’un en önemli buluşu, diferansiyel ve integral hesabı keşfetmesidir. Newton teolojiye de ilgi duydu. 
                Matematik öğretmeni Isaac Barrow, hem ilahiyatçı ve hem de matematikçi biriydi. Barrow, öğrencisinin kendisinden ileride olduğunu kabul ediyor ve matematik kürsüsünü bırakıp yerini Newton’a bırakıyordu.
                Barrow, geometri derslerinde kendine özgü yöntemlerle, alanları hesaplamak, eğrilere üzerindeki noktalardan teğet çizmek için yollar gösteriyordu. 
                Bu dersler Newton’u diferansiyel ve integral hesabı bulmaya ve bu sahada çalışmanın ilk adımlarıydı. Fonksiyon kelimesini ilk kez Leibniz kullanmıştır. Limit fikrini ve kavramını Newton ve Leibniz kullanmıştı. 
            </div>
            <div class="item">
                <img src="../img/fermat.jpg" alt="Image 1" class="pp"/>
                <h1>PİERRE DE FERMAT</h1>
                Hukuk Fakültesinden mezun oldu.Matematik onun için hobi olarak sürdürdüğü ve olağanüstü bir yeteneğiydi.
                Matematikçilere ilham verdi ve ona gününün en büyük düşünürleri arasında bir yer kazandırdı. Fermat tüm hayatı boyunca matematikle sürekli iç içe olmuştu. Maximum ve minimum üzerindeki önemli çalışmalarını üretmişti.
                Fermat, olası tüm sonuçların olasılıklarına bakarak problemleri matematiksel olarak titiz bir şekilde çözdü. Sayılar teorisi Fermat için çok önemli bir konuydu. 
                Fermat’ın en ünlü eseri sözde son teoremidir. Fermat denklemini kelimelerle yazdı çünkü Thomas Harriot’un sembolik cebiri icat ettiğinden haberdar değildi.
            </div>
            <div class="item">
                <img src="../img/leib.jpg" alt="Image 1" class="pp"/>
                <h1>LEİBNİZ</h1>
                Tarih hevesini babasından almıştı. Sekiz yaşında Latince’ye başladı. Kendi gayreti ile Yunan’ca öğrendi.
                Klasik çalışmalardan usandığı için mantık ilmine başladı. Leibniz, on beş yaşındayken hukuk öğrencisi oldu. 
                Olasılıklar kuramına başladı. Okuduğu her alanda olduğu gibi, bu sahada da eser veriyordu. Newton’la ayrıldığı nokta da olasılıklar kuramıdır. Verimsiz gibi görünen soyut olasılıklar kuramının öncüsü Leibniz’dir. 
                Leibniz’in uğraştığı konuların tam bir listesini vermek olanaksızdır. İktisat, filoloji, devletler hukuku, maden ocakları yapımı, teoloji, sayısız akademinin kurulması ve geliştirilmesi gibi her şeye el atmıştır. 
                Onun en az başarılı olduğu saha mekanik ve fizikti.
            </div>
            <div class="item">
                <img src="../img/leg.jpg" alt="Image 1" class="pp"/>
                <h1>LEGENDRE</h1>
                Fransız devrimi sırasında, metre sisteminin kabul edilmesini ve girişilen jeodezi işlemlerinin hazırlıklarına katıldı.
                Trigonometride teoremler ileri sürdü. “Gezegenlerin Şekli üstüne” adlı inceleme yazısında, kendi adıyla anılan çokterimlileri ortaya attı. “Geometrinin Temel Bilgileri” adlı eseri yayınlandı.
                “Sayılar Kuramı” adlı eseri yayınlandı. Yine de en değerli eseri, “Eliptik Transandantlar Kuramı” adlı inceleme kitabıdır.
                Bu eserde, eliptik integrallerden hareket ederek integralleri kendi adıyla anılan üç şekle indirgemeyi başarmıştır. Legendre’nin bu alandaki araştırmaları daha sonra Abel ve Jacobi’nin çalışmalarıyla tamamlandı.
                Abel oldukça kısa ve kesin bir yolla elde ediyordu. Bu nedenle, onun kırk yıllık çalışmaları boşa gidiyor gibiydi.
            </div>
            <div class="item">
                <img src="../img/sop.jpg" alt="Image 1" class="pp"/>
                <h1>SOPHIE GERMAIN</h1>
                Fransız İhtilalinin döneminde dışarı çıkmasını yasaklamıştı. 
                Sophie babasının kütüphanesinde vakit geçirmeye başladı. Matematikle ilgilendi,kendine Latince ve Yunanca öğrendi. 
                Ailesi, kızlarının matematiğe olan ilgisine razı değildi; onu durdurmaya çalıştılar.
                Kadın olduğu için okula girmesi yasaktı ancak ders notlarını almayı ve çalışmalarını Joseph Louis Lagrange’e gönderdi.
                Sophie, Paris Bilimler Akademisi’nin sponsor olduğu bir yarışmayı duydu.
                Ancak üçüncü denemesinde Paris Bilimler Akademisi’nden bir ödül kazanan ilk kadın oldu.
                Sayılar teorisi ile ilgilenmeye başladı. Sophie Germain’in matematiğe katkılarından biri kendi adıyla anılan asallardır.
                Ayrıca esneklik üzerine ve Fermat’ın son teoreminin çözümü üzerine çalışmalar yapmıştır.
            </div>
            <div class="item">
                <img src="../img/thales.jpg" alt="Image 1" class="pp"/>
                <h1>THALES</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            

            <button id="next">></button>
            <button id="prev"><</button>
            <!-- https://www.matematiksel.org/tarihteki-en-muthis-10-matematikci/ 
                https://www.matematikciler.com/unlu-matematikcilerin-hayati/
                linkki bilgilerin vikiipedia da var -->
        </div>
    
        <script src="~/js/biliminsani.js"></script>
       
    </body>
    </html>