<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SINIFIN DUYGU DURUMU</title>
    <link rel="stylesheet" href="~/css/duygu.css">
</head>
<body>
    <div class="container">
        <h1>DUYGU DURUM ÖLÇER</h1>
        <h3>Matematik dersi nasıl geçti?</h3>
        <img src="../img/emoji.gif" alt="Animasyonlu Resim">

        <div id="notlar"></div>
        <input type="number" id="not" min="1" max="5" placeholder="Not Gir (1-5)">
        <button onclick="notEkle()">PUAN EKLE</button>
        <div id="ortalama"></div>
    </div>
    <script src="~/js/duygular.js"></script>
</body>
</html>