<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GEOMETRİK ŞEKİLLER</title>
    <link rel="stylesheet" href="~/css/geometrik.css">
</head>
<body>
    <div class="table-container">
        <h1 class="heading"> GEOMETRİK ŞEKİLLER </h1>
        <table class="table">
            <thead>
                <tr>
                    <th>İSMİ</th>
                    <th>ŞEKİL</th>
                    <th>AÇILIM</th>
                    <th>ALAN</th>
                    <th>HACİM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="İSİM"> DİKDÖRTGEN PRİZMA</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png" alt="bulanık resim" class="blurred-image"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png" alt="bulanık resim" class="blurred-image"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png" alt="bulanık resim" class="blurred-image"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>aa</td>
                </tr>
                <tr>
                    <td data-label="İSİM"> KARE PRİZMA</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> aaaa </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> KÜP</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> ÜÇGEN PRİZMA</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> SİLİNDİR</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> aaaa </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> KARE PİRAMİT</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> ÜÇGEN PİRAMİT</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> DÜZGÜN DÖRT YÜZLÜ</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> aaaa </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> KONİ</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
                <tr>
                    <td data-label="İSİM"> KÜRE</td>
                    <td data-label="ŞEKİL"> <img src="resimler/pp2.png"> </td>
                    <td data-label="AÇILIM"> <img src="resimler/pp2.png"> </td>
                    <td data-label="ALAN"> <img src="resimler/pp2.png"> </td>
                    <td data-label="HACİM"> <a href="HACİM" class="btn"></a>  aa </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<style>
    
    .blurred-image {
        filter: blur(5px); 
        transition: filter 0.3s ease-in-out; 
    }

    .blurred-image:hover {
        filter: blur(0); 
    }
</style>
</html>