<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Ekleme</title>
  <title>3D Animasyonlu Buton</title>
  <link rel="stylesheet" href="~/css/notekle.css">
</head>
<body>
  <input type="file" id="pdfInput" accept=".pdf">
  <button id="viewPdfBtn">PDF Görüntüle</button>

  <div class="button-container">
    <button class="custom-button" onclick="goToLink()">OGM MATERYAL</button>
  </div>


  <script src="~/js/notekle.js"></script>
</body>
</html>