*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: #fff;
}

.sidebar {
    position: relative;
    width: 250px; /* Sidebar genişliği */
    height: 150vh; /* Ekranın tamamını kapla */
    background-color: #333; /* Sidebar arka plan rengi */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu {
    flex-grow: 1; /* Menü öğeleri üstte */
}

.sidebar-date {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.wrapper .header{
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}

.wrapper .header .header-menu .title span{
    color: #4CCEE8;
}

.wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
}

.wrapper .header .header-menu ul{
    display: flex;
}

.wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
}

.wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow: auto;
}

.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background-color: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8FC5E9;
    transition: 0.3s;
    transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}

.wrapper .main-container{
    width: (100% - 250%);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background: linear-gradient(-45deg,rgb(255, 165, 165),#8fa3ff,#a582ff,#fdc77b);
    background-size: cover;
    height: 89.60vh;
    transition: 0.3s;
}

.wrapper.collapse .sidebar{
    width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
    display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding: 3px;
}

.wrapper.collapse .main-container{
    width: (100% - 70%);
    margin-left: 70px;
}

.wrappe{
    width: 300px;
    height: 250px;
    background: white;
    position: absolute;
    right: 0px;
    top: 200px;
    border-radius: 10px;
}
.wrappe header{
    display: flex;
    align-items: center;
    padding: 20px 25px 5px;
    justify-content: space-between;
}
header .current-date{
    font-size: 1.30rem;
    font-weight: 600;
}
header .icons span{
    height: 30px;
    width: 30px;
    margin: 0px 1px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: #878787;
    font-size: 1.5rem;
}
header .icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
.calendar{
    padding: 10px;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar ul li{
    width: calc(100%/7);
    position: relative;
}
.calendar .weeks li{
    font-weight: 600;
}
.calendar .days{
    margin-bottom: 10px;
}
.calendar .days li{
    cursor: pointer;
    margin-top: 10px;
    z-index: 1;
}
.calendar .days li:before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #f2f2f2; */
    border-radius: 50%;
    z-index: -1;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li:hover::before{
    background: #f2f2f2;
}
.days li.active::before{
    background: #9B59B6;
}

.wrapper1{
    height: 80px;
    width: 300px;
    top: 500px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    position: absolute;
    right: 0px;
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}

.wrapper1 .display,
.wrapper1 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.wrapper1 .display{
    z-index: 999;
    background: #3498DB;
    height: 70px;
    width: 290px;
    border-radius: 6px;
    text-align: center;
}

.wrapper1 .display #time{
    line-height: 75px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
  }
}

.wrapper1 span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
} 

.wrapper1 span:first-child{
    filter: blur(10px);
} 

.wrapper1 span:last-child{
    filter: blur(20px);
}

.container{
    width: 300px;
    height: 90px;
    background: #fff;
    position: absolute;
    right: 0px;
    top: 100px;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    z-index: 999;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

.container1{
    width: 800px;
    height: 250px;
    background: white;
    position: absolute;
    top: 100px;
    border-radius: 10px;
} 

.main-content{
    width: 100%;
    height: 300px;
    padding: 50px 40px;
    border-radius: 15px;
} 

.text-area{
    text-align: center;
    font-size: 20px;
    color: #262626;
    line-height: 1.5;
} 

.main-content .writer{
     text-transform: uppercase;
     letter-spacing: 5px;
     color: red;
     text-align:  center;
     margin-top: 20px;
     font-size: 25px;
}

.main-content .button-area{
    display: grid;
    place-items: center;
    margin-top: 20px;
    padding: 10px 0 ;
} 

.button-area .btn button{
    background-color: #262626;
    color: #fff;
    border-radius: 5px;
    font-style: 16x ;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 15px;
} 

.button-area .btn button:active{
    background-color: deepskyblue;
}